body {
    background-color: #0D639A;
}
.navbar, label {
    color: white;
    font-weight: normal;
}
.navbar {
    border-bottom: 1px solid #2788C4;
    margin-bottom: 10px;
}
.chartcontainer {
    height: 800px;
}
.chartcontainer div {
    height: 100%;
}
.spacer {
    height: 10px;
}
