* { /* Universal CSS Reset */
    margin: 0;
    padding: 0;
}
html { /* Sticky footer styles */
    position: relative;
    min-height: 100%;
}
body {
    background-color: #0D639A;
    color: white;
    margin-bottom: 25px; /* Margin bottom by footer height */
}
a {
    color: white;
}
.navbar {
    border-bottom: 1px solid #2788C4;
}
.chartcontainer {
    height: 800px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
}
.footer p {
    text-align: right;
    font-size: 8pt;
}
